{% extends 'todo/base.html' %}

{% block 'content' %}

<div class="row mt-5">
	<div class="col-md-6 offset-md-3">
		<div class="jumbotron">
		  <h1 class="display-4">Silmə Əməliyyatı!</h1>
		  <p class="lead">{{ note.title }} notunuzu silməyə əminsiniz?</p>
		  <form method="POST" action="">
		  	{% csrf_token %}
		  	<button class="btn btn-danger" type="submit">Sil</button>
		  	<a class="btn btn-primary" href="{% url 'home' %}">Ləğv Et</a>
		  </form>
		</div>
	</div>
</div>			

{% endblock %}