{% extends 'todo/base.html' %}

{% block 'content' %}

<div class="row mt-5">
	<div class="col-md-6 offset-md-3">
		<form method="POST" action="">
		  <div class="form-group">
		  	{% csrf_token %}
		    <input type="text" class="form-control" placeholder="Not..." name="not" value="{{ note.title }}">
		  </div>
		  <button type="submit" class="btn btn-primary">Duzelis Et</button>
		</form>
	</div>
</div>			

{% endblock %}