{% extends 'todo/base.html' %}

{% block 'content' %}

<div class="row mt-5">
	<div class="col-md-6 offset-md-3">
		<form method="POST" action="">
		  <div class="form-group">
		  	{% csrf_token %}
		    <input type="text" class="form-control" placeholder="Not..." name="not">
		  </div>
		  <button type="submit" class="btn btn-primary">Elave Et</button>
		</form>
		<hr>
		<ul class="list-group">
			{% for i in notlar %}
			  <li class="list-group-item {% if i.status == 'tamamlanib' %}tamamlanib{% endif %}">
			  	{{ i.title }}
			  	<div class="pull-right d-inline" style="float: right;">
			  		<a href="{% url 'tamam' i.id  %}" class="btn btn-success">Tamam</a>
				  	<a href="{% url 'edit' i.id %}" class="btn btn-warning">Duzelis</a>
				  	<a href="{% url 'delete' i.id %}" class="btn btn-danger">Sil</a>
			  	</div>
			  </li>
			{% endfor %}
		</ul>
	</div>
</div>			

{% endblock %}